
body {
    background-image: url('images/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;    
}



ul {
    list-style: none;
}

.status-feita, .status-tranquila, .status-importante, .status-urgente {
    width: 50px; 
    height: 50px;
    display: inline-block;
    background-size: cover;
    background-position: center;
    margin-right: 5px;     
}

.status-feita {
    background-image: url('images/dipsy.png');
}

.status-tranquila {
    background-image: url('images/tinky-winky.png');
}

.status-importante {
    background-image: url('images/laa-laa.png'); 
}

.status-urgente {
    background-image: url('images/po.png'); 
}