/* reset css */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
    height: 100%;
    margin: 0;
}

body {
    line-height: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* style */

body {
    /* background-image: url('../assets/images/background.png'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-image: linear-gradient(to bottom, transparent 0%, #7f7f7ff2 100%), url('/assets/images/background-2.png'); */
    background-image: url('/assets/images/background-2.png');
}
#title {
    display: block;
    margin: -100px auto auto;
    width: 25rem; 
    height: auto;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #ffffff9a;
    margin: 0 40px;
    padding: 20px;
    border-radius: 1.2rem;
    gap: 10px;
    margin-bottom: 40px;
}

.adiciona-procura{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

input, select, button{
    height: 30px;
    padding: 0 10px;
    border-radius: 3px;
    border: none;
}

input:focus-visible,
select:focus-visible,
button:focus-visible{
    outline: none;
}

button{
    cursor: pointer;
}

select{
    height: 30px;
}


ul {
    list-style: none;
}

#listaTarefas{
    padding: 20px;
}

#listaTarefas li{
    display: flex;
    align-items: center;
}

li span:nth-child(2){
    width: 265px;
    margin-left: 20px;
    color: #010101;
}

#btn-addTarefa{
    background-color: #529d57;
    color: #fff;
    margin-left: 50px;
}

#btn-buscarTarefa{
    background-color:	#999999;
    color: #fff;
    margin-left: 20px;
}

.editTask{
    background-color:#5bc0de;
    color: #fff;
}

.removeTask{
    background-color:#d9534f;
    color: #fff;
    margin-left: 10px;
}

.status-feita, .status-tranquila, .status-importante, .status-urgente {
    width: 50px; 
    height: 50px;
    display: inline-block;
    background-size: cover;
    background-position: center;
    margin-right: 5px;     
}

.status-feita {
    background-image: url('../assets/images/dipsy.png');
    border: 3px solid #6fd16f;
    border-radius: 50%;
}

.status-tranquila {
    background-image: url('../assets/images/tinky-winky.png');
    border: 3px solid #5b0b63;
    border-radius: 50%;
}

.status-importante {
    background-image: url('../assets/images/laa-laa.png');
    border: 3px solid #fcff3b;
    border-radius: 50%; 
}

.status-urgente {
    background-image: url('../assets/images/po.png');
    border: 3px solid #eb2222;
    border-radius: 50%; 
}

header {
    padding: 40px;
    display: flex;
    justify-content: flex-end;
}

footer {
    background-color: rgba(255, 255, 255, 0.5); 
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.legenda {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

footer button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    font-size: 1.5em;     
}

.lista-legenda{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.legenda{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.legenda img{
    width: 50px;
}

.legenda span{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-right: 20px;
}
